.dropdown {
  padding: 0px 15px;
  cursor: pointer;
  margin: 0;
}
.dropdown {
  color: #ed1e24;
}

.dropdown:hover {
    text-decoration-line: underline;
    color: #ed1e24;
  }


.stores {
  padding: 0px;
}
